<head><title>Symptoms</title></head>
<%- model_class = Symptom -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @symptoms.each do |symptom| %>
    	<ul type ="none" class = "symptoms-list">
        	<li><%= link_to symptom.name, symptom_path(symptom) %> </li>
        </ul>
	<%end%>
	<%= render :partial => 'search' %>
