<head><title><%=@symptom.name %></title></head>
<%- model_class = Symptom -%>
<div class="page-header">
  <h1><%= @symptom.name %></h1>
</div>
  
   <h2>Possible Diseases having the <%= @symptom.name %> </h2> 
   
     <% @symptom.diseases.each do |a| %>
      <ul type = "none" class = "symptoms-list">
      <li><%= link_to a.name, disease_path(a) %> </li>
     </ul>
     
      <% end %>
    

  


             
