<head><title>Symptoms Search </title></head>

    <div class="container">

       <div class = "container">
        <div class = "page-header">
        	<h1>Symptoms Search </h1>
        	<h5>Search your symptoms and find your illness.</h5>
        </div>
        		
		<center><img src = "/assets/emaze.gif"></center>

		<div class = "page-header">
			<h4>Define: Symptoms (according to Wikipedia)?</h4> </div>
			A symptom  is a departure from normal function or feeling which is noticed by a patient, reflecting the presence of an unusual state, or of a disease. A symptom is subjective, observed by the patient, and cannot be measured directly, whereas a sign is objectively observable by others. For example, paresthesia is a symptom (only the person experiencing it can directly observe their own tingling feeling), whereas erythema is a sign (anyone can confirm that the skin is redder than usual). Symptoms and signs are often nonspecific, but often combinations of them are at least suggestive of certain diagnoses, helping to narrow down what may be wrong. In other cases they are specific even to the point of being pathognomonic.

	       		
       
      </div>  
  
