
<%- model_class = Disease -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @diseases.each do |disease| %>
      
      <%= link_to disease.name, disease_path(disease) %>
     
        <%end%>

           <div id="map"></div>
           
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3smUVxAMr9TNKUuqVzhvS8cUhM6lZgkc
        &callback=initMap">
    </script>


  
 




     

